*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
.div1{
    background-color: black;
    height: 70px;
    
}
nav{
    height: 100vh;
    position: absolute;
    color: white;
    height: 500px;
    width: 100%;
    background-color: #0e0101;
    background-image: url(./images/headerbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


ul li{
    position: relative;
    top: -20px;
    right: 20px;
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    float: right;
}
/* ul li a:hover{ */

h2{
    position: relative;
    top: 20px;
    left: 30px;
}
h1{
    position: relative;
    top: 170px;
    font-size: 50px;
    
    text-align: center;
}
hr{
    position: relative;
    top: 200px;
    left: 27.5%;
    width: 45%;
    border: 0.5px solid rgb(41, 148, 172);
}
.p1{
    position: relative;
    top: 217px;
    left: 27.5%;
    width: 45%;
    text-align: center;
}
.call-to-action-button{
    position: relative;
    top: 250px;
    left: 46%;
    padding: 10px 20px;
    background-color: rgba(41, 148, 172, 0.44);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.call-to-action-button:hover{
    background-color: rgb(41, 148, 172);
}
.simple{
    
    height: 600px;
    width: 100%;
    background-color: #eee;
}
.simple-text{
    color: black;
    text-align: center;
    position: relative;
    top: 430px;
    left: -1%;
   
    
    
    
}
.simple-text2{
    position: relative;
    left: 10px;
    top: 440px;
    color: rgb(182, 192, 200);
    

    
}
section{
    margin: 15px;
}
.first-icon{
    
    float: left;
    color: black;
    text-align: center;
    
}
.sec-icon{
    float: left;
    margin-left: 70px;
    color: black;
    text-align: center;
}
.th-icon{
    float: right;
    color: black;
    text-align: center;
}

.images-text{
    position: relative;
    top: 40px;

    text-align: center;

}

.images{
    position: relative;
    top: 20px;
    left: 80px;
    margin: auto;
}
.form-text{
    position: relative;
    top: 20%; 
    font-size: x-large;
    right: 20px;

}
form{
    background: transparent;
    
    display: block;
    position: relative;
    top: 40%;
}
.form{
    margin: 0;
    background-image: url(./images/contactbg.png);
    background-size: cover;
    height:100vh;
    text-align: center;


}
footer{

background-color: #eee;
text-align: right;
height: 10vh;
}
.footer{
    position: relative;
    bottom: 11px;
}
.footer a{
text-decoration: none;
font-size: 36px;
margin: 5px;
color: #61c2f7;
background-color: aqua;
position: relative;
bottom: 20px;
}
footer h2{
    color: black;
    text-align: left;

}
@media (max-width:1025px){
   .item ,.icon1 ,.icon2 ,.icon3{
    width:31%;
    margin: 1%;
    float: left;
   } 
}
@media (min-width:768px) and (max-width:1024px){
    .item{
        width: 48%;
        margin: 1%;
        float: left;
    }
}
@media (min-width:767px){
    .item{
        width: 100%;
        margin: 0 0 20px 0;
        float: none;
    }
}
@media (max-width:767px){
    input[type=submit]{
        width: 100%;
        display: block;
    }
    input{
        width: 100%;
    }
}

